@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @layer utilities {
  .tab {
    @apply flex h-[26px] text-[12px] items-center gap-3 bg-[#E5E5E5]  rounded-[4px] text-black font-[500] px-[22px]  ;
  }
  
  .tab[data-state='active'] {
    @apply text-white !important;
    background: linear-gradient(268deg, #E0055F 1.32%, #2020ED 95.37%);
  }

  .account-form_input {
    @apply bg-zinc-100 rounded-[14px] border-[3px] text-neutral-500 text-base border-[#92119A]  font-normal p-[1.6rem] w-full focus:border-[#92119A] focus-visible:border-[#92119A] active:border-[#92119A] outline-none !important;
    
  }
  
  .account-form_input2 {
    @apply border border-solid rounded-[14px] text-black bg-[#F3F3F3] !important;
    border-width: 1px; /* Explicitly set border width if needed */
    /* border-color: var(--Linear, #E0055F) !important; Custom border color */
  }
    input:focus, input:focus-visible, input:active {
      border-color: #92119A !important;
      outline: none !important;
    }
}

.addcolor {
  background: var(--Linear, linear-gradient(268deg, #E0055F 1.32%, #2020ED 95.37%));

}
.bordercolor {
  border-color: var(--Linear, linear-gradient(268deg, #E0055F 1.32%, #2020ED 95.37%));
  background-color: var(--Linear, linear-gradient(268deg, #E0055F 1.32%, #2020ED 95.37%));
}
.rdp-vhidden {
  @apply hidden;
}
 
/* applied to button */


.custom-class > *[data-ut-element="button"] {
  font-size: 0.9rem;
  font-weight: 600;
  color: #797979;
  border: 1px solid #797979;
  background-color: transparent;
}
 
/* applied to button when uploading */
.custom-class > *[data-ut-element="button"][data-state="readying"] {

  color: #797979;
  border: 1px solid #797979;
  background-color: transparent;
}
 
/* applied to the button when uploading */
.custom-class > *[data-ut-element="button"][data-state="uploading"] {
  color: #797979;
  border: 1px solid #797979;
  background-color: transparent;
}
 
/* applied to the upload indicator when uploading */
.custom-class > *[data-ut-element="button"][data-state="uploading"]::after {
  color: #797979;
  border: 1px solid #797979;
  background-color: transparent;
}


